.aboutsummary__list {
  max-width: 1000px;

  margin: auto;
  display: flex;
  flex-direction: start;
  flex-wrap: wrap;
  text-align: justify; 
  align-items: flex-start;
}

.aboutsummary__list-item {
  margin: 0.5em;
  font-size: 1.2em;
}
#abouts {
  margin: 1.5%;
}
#aboutsummary1 {
  margin: 5%;
}

.aboutsummary__list-item btn btn--plain {
  justify-content: center;
}


.bullet-list {
  list-style-type: disc; /* Use 'disc' for filled circles, 'circle' for outlined circles */
  padding-left: 20px; /* Adjust padding as needed */
}

.text {
  font-size: 14px; /* Adjust font size as needed */
  margin-left: 10px; /* Adjust margin between the bullet point and text */
}


#aboutsummary1 {
  margin: 5%;
  align-items: center;
  text-align: center;
}
