.home__stack {
  /* border: 2px solid red; */
  margin: auto;
  text-align: center;
  /* display: flex; */
}

.home__stack-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 2px solid blue; */
  /* align-items: column; */
  /* box-shadow:a */
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}
.imagediv,
.home__struct {
  align-items: center;
  margin: auto;
}

.avatar {
  vertical-align: middle;
  width: 100%;
  height: 200px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  flex-direction: column;
  align-items: center;
  /*display: flex;
  */ /*flex-wrap: wrap;
  */ /*flex-wrap: wrap;
  */ /*margin-top: 3em;
  */
  display: flex;
}
.about__contact {
  margin: auto;
  display: flex;
}

/* .section about center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */

.about_center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin: auto;
}

.about__name {
  color: var(--clr-primary);
  margin: auto;
  /* width:20%; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  align-items: center;
}

.about__role {
  margin-top: 1.2em;
  margin: auto;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  align-items: center;
}

/* .about__desc {
  font-size: 1rem;
  max-width: 600px;
  text-align: justify;
} */
.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
