/* .section__list {
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.section__desc {
  font-size: 1.2rem;
  max-width: 1020px;
  margin: auto;
  text-align: justify;
}

/* @media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
} */

.aboutsummary__list {
  max-width: 1020px;
  width: 100%;

  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* justify-content: center; */
  text-align: justify;
  /* font-size: 100em; */
}

.aboutsummary__list-item {
  margin: 0.5em;
  font-size: 1.2em;
}
#aboutsummary {
  margin: -1.5%;
}
