.header {
  height: 3.2em;
  justify-content: space-around;
  position: fixed;
  overflow: hidden;
  translate : center;
  box-shadow: var(--shadow);
  transform: translateY;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}
